.button {
	background-color: transparent;
	color: $white;
	border-radius: 2px;
	border: 1px solid #B9951D;
	transition: 0.1s;
	padding: 1rem 3rem;
	display: inline-block;
	width: auto;
	font-size: 14px;
	font-weight: 700;

	* + & {
		margin-top: 1rem;
	}

	&:hover,
	&:focus {
		background-color: #B9951D;
		color: $white;
		text-decoration: none;
	}
}