.gallery {

	&-wrapper {
		width: 100%;
	}

	&-split-half {
		display: grid;

		@media(min-width: 1200px) {
			grid-template-columns: repeat(2, 50%);
			grid-template-rows: repeat(2, 50%);
		}
	}

	&-split-row {
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;

		&--top {
			grid-column: 1 / 1;
			grid-row: 1 / 1;

			img {
				object-fit: cover;
			}
		}

		&--bottom {
			grid-column: 1 / 1;
			grid-row: 2 / 2;
		}
	}

	&-split--right {
		position: relative;

		@media(min-width: 1200px) {
			grid-column: 2 / 2;
			grid-row: 1 / 3;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(-1deg, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0.8) 52%, rgba(84, 84, 84, 0) 100%);
			opacity: 0.41;
			transition: 0.2s opacity;
		}

		&:hover,
		&:focus {
			&:before {
				opacity: 0.21;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.gallery-content-overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: $white;
			z-index: 2;
		}
	}

	&-content-block {
		padding: 2rem;
		display: flex;

		&--dark,
		&--highlight {
			flex-direction: column;
		}

		&--dark {
			align-items: center;
			justify-content: center;
			background-color: #1D2428;
			text-align: center;

			h2 {
				color: #B9951D;
				margin-bottom: 20px;
			}

			p {
				color: $white;
				font-size: 14px;
				line-height: 26px;
				margin-bottom: 0;
			}
		}

		&--highlight {
			background-color: #B9951D;
			text-align: left;
			padding: 3rem;
			justify-content: center;

			h3 {
				margin-bottom: 20px;
			}

			p {
				color: $white;
				margin-bottom: 0;
			}
		}

		&--light {
			background-color: $white;
			color: #1D2428;

			a {
				color: #1D2428;
			}
		}

		&--rotated {
			padding: 3rem;
			flex: 0 0 20px;
			justify-content: center;
			align-items: center;
			min-width: 0;

			a {
				display: block;
				transform: rotate(-90deg);
				line-height: 25px;
				font-size: 14px;
				white-space: nowrap;
				font-weight: 700;
				text-decoration: underline;
			}
		}
	}

}