.hero {
	position: relative;

	&-image {
		width: 100%;
		object-fit: cover;
		max-height: 100vh;
		min-height: 30rem;
	}

	&-overlays {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}

		&:before {
			background-image: linear-gradient(-1deg, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0.7) 100%, rgba(84, 84, 84, 0) 100%);
			opacity: 0.5;
		}

		&:after {
			background-image: linear-gradient(-1deg, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0.8) 52%, rgba(84, 84, 84, 0) 100%);
			opacity: 0.44;
		}

	}

	&-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		display: flex;
		text-align: center;
		color: $white;

		h1 {
			@media( min-width: 768px ) {
				margin-bottom: 6rem;
			}
		}

		&-alignment {
			margin-top: auto;
			margin-bottom: auto;
			width: 100%;
		}
	}

	&-content-icons {
		display: flex;
		> *:not(:first-child) {
			margin-left: 20px;
		}

	}

	&-content-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
		margin-bottom: 35px;

		a {
			color: $white;
		}

		&-left {
			span {
				text-decoration: underline;
				margin-left: 7px;
				font-size: 14px;
				font-weight: 700;
			}
		}

		&-right {
			margin-left: auto;

			svg {
				path {
					fill: $white;
				}
			}
		}

		.container-fluid {
			display: flex;
			flex-direction: row;
			max-width: 95vw;
		}
	}
}