.question-list {
	margin: 0;
	padding: 0;
	list-style: none;

	.question-list-level-2 {
		display: none;
	}
}

.question-item {
	padding: 0.7em 0.7em 0.7em 1.2em;
	width: 100%;
	background-color: $question-background;
	border: 1px solid $question-border;
	transition: all 0.1s;

	&:hover {
		cursor: pointer;
	}

	&:hover,
	&:focus,
	&.active {
		background-color: $question-active-background;
		border-left: 5px solid $question-active-border;
		padding-left: calc(1.2em - 5px);
	}

	& + & {
		border-top: none;
	}
}
