<template>
	<footer>
		<!-- @TODO: this is where we'll add the Footer -->
		<div class="footer-main"></div>
		<div class="footer-sub">
			<div class="container-fluid">
				<nav>
					<ul>
						<li><a href="#">Terms and Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li>2018 Snowdonia Cheese</li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
</template>
