<template>
	<header :class="{ 'header-overlay': isOverlay  }">
		<div class="container-fluid text-center">
			<!-- @TODO: this is where we'll add the Header -->
			<router-link to="/">
				<img src="@/assets/snowdonia_cheese_company.png" alt="Snowdonia Cheese Company" />
			</router-link>
		</div>
	</header>
</template>

<script>
export default {
	props: {
		isOverlay: {
			type: Boolean,
			default: false
		}
	}
};
</script>