<template>
	<div class="row">
		<div class="col">
			<h1 class="text-center">{{ title }}</h1>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			required: true
		}
	}
};
</script>
