<template>
	<section class="push-footer">
		<div class="container-fluid">
			<page-intro title="Contact Us" />
			<div class="row">
				<div class="col">
					<p class="bold medium">What does your question relate to?</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row no-gutters">
						<div class="col">
							<ul class="question-list question-list-level-1" v-if="$store.state.contactQuestions.length > 0">
								<li
									class="question-item question-item--level-1"
									:class="isSelectedTopic(topic)"
									v-for="topic in $store.state.contactQuestions"
									:key="topic.id"
									@click="selectedTopicLevel1(topic)"
								>
									{{ topic.topic }}
								</li>
							</ul>
						</div>
						<div class="col">
							<template v-if="currentTopicSelected">
								<ul
									class="question-list question-list-level-2"
									v-if="currentTopicSelected.questions.length > 0"
								>
									<li
										class="question-item question-item--level-2"
										:class="isSelectedQuestion(question)"
										v-for="question in currentTopicSelected.questions"
										:key="question.id"
										@click="selectedTopicLevel2(question)"
									>
										{{ question.question }}
									</li>
								</ul>
							</template>
						</div>
					</div>
				</div>

				<div class="col">
					<div v-if="currentQuestionSelected" class="question-answer">
						<p class="bold medium">{{ currentQuestionSelected.answer }}</p>
						<hr />
						<p class="bold">
							If this didn’t answer your question, please feel free to leave us a message and we’ll be in
							touch as soon as we can.
						</p>
					</div>
					<contact-form />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import PageIntro from '@/components/layout/PageIntro';
import ContactForm from '@/components/ContactForm';

export default {
	components: {
		PageIntro,
		ContactForm
	},
	data: () => ({
		currentTopicSelected: null,
		currentQuestionSelected: null
	}),
	methods: {
		selectedTopicLevel1(topic) {
			this.currentTopicSelected = topic;
			// reset children
			this.currentQuestionSelected = null;
		},
		selectedTopicLevel2(question) {
			this.currentQuestionSelected = question;
		},
		isSelectedQuestion(question) {
			return question === this.currentQuestionSelected ? 'active' : '';
		},
		isSelectedTopic(topic) {
			return topic === this.currentTopicSelected ? 'active' : '';
		}
	}
};
</script>

<style lang="scss">
textarea {
	resize: none;
}
</style>
