<template>
	<div>
		<Hero />
		<FeatureGallery />
		<Newsletter />
	</div>
</template>

<script>
import Hero from '@/components/blocks/Hero';
import FeatureGallery from '@/components/blocks/FeatureGallery';
import Newsletter from '@/components/blocks/Newsletter';

export default {
	components: {
		Hero,
		FeatureGallery,
		Newsletter
	}
};
</script>