<template>
	<section>
		<div class="gallery-wrapper">
			<div class="gallery-split-half">
				<div class="gallery-split-row gallery-split-row--top">
					<img src="@/assets/Path_leading_to_Cwm_Idwal_Devils_Kitchen.png" alt="Path leading to Cwn Idwal Devils Kitchen">
					<div class="gallery-content-block gallery-content-block--dark">
						<h2>Award Winning</h2>
						<p>Our Black Bomber® has won awards at The Great British Cheese Awards, Nantwich International Cheese Awards, the World Cheese Awards and a Super Gold at Mondial Fromage in France.</p>
					</div>
				</div>
				<div class="gallery-split-row gallery-split-row--bottom">
					<div class="gallery-content-block gallery-content-block--light gallery-content-block--rotated">
						<a href="#">Find a stockist near you</a>
					</div>
					<div class="gallery-content-block gallery-content-block--highlight">
						<h3>Established in 2001</h3>
						<p>Nestled within beautiful North Wales amidst the fresh sea air and flowing water, the Snowdonia Cheese Company&reg; was established in 2001, with the aim of creating a new and premium product a luxury range of cheeses. </p>
					</div>
				</div>
				<a href="#" class="gallery-split gallery-split--right">
					<img src="@/assets/Cheddar_and_Bacon_Brunch_Pancakes_Branded.png" alt="Cheddar and Bacon Brunch Pancakes">
					<div class="gallery-content-overlay">
						<h1>View our recipes</h1>
					</div>
				</a>
			</div>
		</div>
	</section>
</template>