<template>
	<section class="hero">
		<img
			class="hero-image"
			src="@/assets/Antipasti_Platter_Branded.png"
			srcset="@/assets/Antipasti_Platter_Branded@2x.png 2x"
			alt="Antipasti Platter"
		>
		<div class="hero-overlays"></div>
		<div class="hero-content">
			<div class="hero-content-alignment">
				<h1>Made with Pride</h1>
				<router-link to="/contact" class="button">Discover Snowdonia</router-link>
			</div>
		</div>
		<div class="hero-content-bottom">
			<div class="container-fluid">
				<div class="hero-content-bottom-left">
					<a href="#">
						<img svg-sprite class="icon" src="@/assets/location.svg" alt="location icon" />
						<span>Find a stockist near you</span>
					</a>
				</div>
				<div class="hero-content-bottom-right">
					<div class="hero-content-icons">
						<a href="https://www.facebook.com/snowdoniacheese" title="facebook">
							<img svg-sprite class="icon" src="@/assets/facebook.svg" alt="Facebook icon" />
						</a>
						<a href="https://www.instagram.com/snowdoniacheese" title="instagram">
							<img svg-sprite class="icon" src="@/assets/instagram.svg" alt="Instagram icon" />
						</a>
						<a href="https://www.youtube.com" title="youtube">
							<img svg-sprite class="icon" src="@/assets/youtube.svg" alt="YouTube icon" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>

export default {

};
</script>