<template>
	<section class="newsletter-section">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-10 col-md-6 col-lg-4">
					<h3>Want offers and updates?</h3>
					<p>We’ll keep you up to date on the latest news and send you exclusive offers. But don’t worry we won’t spam!</p>
				</div>
			</div>
		</div>
	</section>
</template>