body,
html {
	background-color: $body-background;
	font-family: $font-family-headings;
	font-size: 14px;
	min-width: 20rem;

	@include breakpoint(25em) {
		font-size: 16px;
	}
}

.container-fluid {
	max-width: 75rem;
}

h1,
h2,
h3,
.bold {
	font-weight: 700;
}

h1 {
	font-size: 3.625rem;
}

.large {
	font-size: 1.2rem;
}

.medium {
	font-size: 1.125rem;
}

.regular {
	font-size: 1rem;
}

section.push-footer {
	margin-bottom: 10rem;
}
