footer {
	width: 100%;

	.footer-main {
		height: 20em;
		background-color: #1D2428;
	}

	.footer-sub {
		background-color: #14191C;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 13px;

		ul li,
		a {
			color: #707B81;
			opacity: 0.8;
			transition: 0.2s opacity;
		}

		a {
			&:hover,
			&:focus {
				text-decoration: none;
				opacity: 1;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			li {
				margin-left: 1rem;
			}
		}
	}
}