form {
	.row:not(:last-child) {
		margin-bottom: 1rem;
	}
}

label {
	display: block;
	width: 100%;
}

input,
textarea {
	display: block;
	width: 100%;
	border: 1px solid $input-border;
	padding: 0.5em;
}

input[type='submit'] {
	margin-top: 1rem;
	background-color: $button-primary-background;
	color: $button-primary-color;
	border-radius: 0;
	border: 0;
	transition: 0.1s;
	padding: 1rem 3rem;
	display: inline-block;
	width: auto;
	font-size: 14px;
	font-weight: 700;

	&:hover,
	&:focus {
		background-color: $button-primary-hover-background;
		color: $button-primary-color;
	}
}
