<template>
	<form v-on:submit.prevent="handleSubmission">
		<div class="row">
			<div class="col">
				<label for="contact-business-name">Business Name</label>
				<input id="contact-business-name" type="text" placeholder="Enter a name" />
			</div>
			<div class="col">
				<label for="contact-business-address-line-1">Business Address Line 1</label>
				<input id="contact-business-address-line-1" type="text" placeholder="Enter a address" />
			</div>
		</div>

		<div class="row">
			<div class="col">
				<label for="contact-business-address-city">Business City</label>
				<textarea id="contact-business-address-city" rows="4" placeholder="Enter a city"></textarea>
			</div>
		</div>

		<input class="btn" type="submit" value="Send Message" />
	</form>
</template>

<script>
export default {
	methods: {
		handleSubmission() {
			console.log('Form Submission Handler');
		}
	}
};
</script>
