<template>
	<div id="app">
		<page-header :is-overlay="currentViewHasOverlayHeader" />
		<page-body></page-body>
		<page-footer></page-footer>
	</div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import '@/scss/style.scss';

import PageHeader from '@/components/layout/PageHeader.vue';
import PageBody from '@/components/layout/PageBody.vue';
import PageFooter from '@/components/layout/PageFooter.vue';

export default {
	components: {
		PageHeader,
		PageBody,
		PageFooter
	},
	computed: {
		currentViewHasOverlayHeader() {
			return this.$route.meta.overlayHeader;
		}
	}
};
</script>
