@font-face {
	font-family: 'Optima';
	src: url('#{$font-path}/Optima-ExtraBlack.eot');
	src: url('#{$font-path}/Optima-ExtraBlack.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}/Optima-ExtraBlack.woff2') format('woff2'),
	url('#{$font-path}/Optima-ExtraBlack.woff') format('woff'),
	url('#{$font-path}/Optima-ExtraBlack.ttf') format('truetype'),
	url('#{$font-path}/Optima-ExtraBlack.svg#Optima-ExtraBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Optima';
	src: url('#{$font-path}/Optima-Bold.eot');
	src: url('#{$font-path}/Optima-Bold.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}/Optima-Bold.woff2') format('woff2'), url('#{$font-path}/Optima-Bold.woff') format('woff'),
	url('#{$font-path}/Optima-Bold.ttf') format('truetype'),
	url('#{$font-path}/Optima-Bold.svg#Optima-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Optima';
	src: url('#{$font-path}/Optima-Italic.eot');
	src: url('#{$font-path}/Optima-Italic.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}/Optima-Italic.woff2') format('woff2'), url('#{$font-path}/Optima-Italic.woff') format('woff'),
	url('#{$font-path}/Optima-Italic.ttf') format('truetype'),
	url('#{$font-path}/Optima-Italic.svg#Optima-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Optima';
	src: url('#{$font-path}/Optima-Regular.eot');
	src: url('#{$font-path}/Optima-Regular.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}/Optima-Regular.woff2') format('woff2'), url('#{$font-path}/Optima-Regular.woff') format('woff'),
	url('#{$font-path}/Optima-Regular.ttf') format('truetype'),
	url('#{$font-path}/Optima-Regular.svg#Optima-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Optima';
	src: url('#{$font-path}/Optima-BoldItalic.eot');
	src: url('#{$font-path}/Optima-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}/Optima-BoldItalic.woff2') format('woff2'),
	url('#{$font-path}/Optima-BoldItalic.woff') format('woff'),
	url('#{$font-path}/Optima-BoldItalic.ttf') format('truetype'),
	url('#{$font-path}/Optima-BoldItalic.svg#Optima-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}
