// Paths
$font-path: '/fonts';

// Fonts
$font-family-headings: 'Optima', Helvetica, Arial, sans-serif;

// Colours
$body-background: #E8E8E8;
$white: #FFF;

// Questions
$question-background: #E8E8E8;
$question-border: #D4D4D4;
$question-active-border: #B9951D;
$question-active-background: #ECECEC;

// Forms
$input-border: #CBCDCE;

// Buttons
$button-primary-background: #B9951D;
$button-primary-color: $white;
$button-primary-hover-background: darken($button-primary-background, 2%);
